.announce {
    height: 100vh;
    font-family: inherit;
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    &.top-left {
        top: 20px;
        bottom: auto;
        left: 20px;
        right: auto;
    }
    &.bottom-left {
        top: auto;
        bottom: 20px;
        left: 20px;
        right: auto;
    }
    &.top-right {
        top: 20px;
        bottom: auto;
        left: auto;
        right: 20px;
    }
    &.bottom-right {
        top: auto;
        bottom: 20px;
        left: auto;
        right: 20px;
    }
    &.top-left,
    &.top-right {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        li {
            margin-bottom: 10px;
        }
    }
    &.bottom-left,
    &.bottom-right {
        -webkit-flex-direction: column;
        flex-direction: column;
        li {
            margin-top: 10px;
        }
    }
    li {
        flex: 0 0 auto;
        width: 300px;
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
    }
}
